.myAuctions__btnsgroup {
    text-align: start;

    .myAuction__btn {
        font-weight: 400;
        font-size: 14px;
        line-height: 105%;
        color: #fff;
        padding: 15px 40px 15px 40px;
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 10px;
        margin-right: 14px;
        margin-bottom: 38px;
        &:last-child{
            margin-right: 0px;
        }
        &.btn-active{
            background: #2F53FF;
            border: none;
        }
    }
}
