.note{
  display: flex;
  justify-content: space-between;
  width: 100%;
  // height: 100%;
  background: #171A1E;
  border-radius: 17px;
  overflow: hidden;
  padding: 24px 30px 24px 30px ;
  gap: 15px;
}
.note-information{
  display: flex;
  justify-content: space-between;
  margin-left: 30px;

  &__note-texts{
    &__note-title{
      font-weight: 400;
      font-size: 18px;
      line-height: 21.6px;
      color: #2F53FF;
      padding-bottom: 10px;
    }
    &__note-text{
      font-size: 12px;
      line-height: 14.4px;
      font-weight: 300;
      color: rgba(250, 235, 215, 0.863);
      width: 90%;
      padding-bottom: 10px;
    }
    &__note-link{
      color: #888;
      text-decoration: none;
      border-bottom: 1px solid #888;
    }
    &__note-link:hover{
      color: #333;
      border-bottom-color: #333;
    }
  }

  &__note-dates{
    display: flex;
    flex-direction: column;
    &__note-date{
      font-weight: 300;
      font-size: 10px;
      line-height: 12px;
      color: rgba(250, 235, 215, 0.863);
    }
    &__note-time{
      font-weight: 300;
      font-size: 10px;
      line-height: 12px;
      color:rgba(250, 235, 215, 0.863);
      margin-left: 25px;
    }
  }
}