

.title {
    margin-bottom: 23px;
    font-weight: 400;
    font-size: 20px;
    line-height: 105%;
    color: #fff;
}

@media(max-width: 1300px) {
    .auctionList {
        grid-template: repeat(2, auto) / repeat(2, 1fr);
    }
}

@media(max-width: 500px) {
    .auctionList {
        grid-template: repeat(2, auto) / repeat(1, 1fr);
    }
}

.no__auctions {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}