.navBar {
  background-color: #121416;
  z-index: 100;
  display: flex;
  flex-direction: column;
  max-width: 210px;
  min-width: 210px;
  gap: 2.6em;
  padding: 20px 17px;
  border-right: none;
  border-color: transparent;
  box-shadow: 10px 0px 20px 4px rgba(0,0,0,0.75);
  width: fit-content;

  @media (max-width: 1000px) {
    display: none;
  }
}

.navBar__logo {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.navBar__title a {
  color: #fff;
}

.navBar__title {

  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  margin-left: 1rem;
}

.navBar__menu {
  display: flex;
  flex-direction: column;
  gap: 51px;
  margin-left: 22px;
  margin-right: 22px;
}

.menu__group {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.menu__group a {
  text-decoration: none;
  color:#fff;
}

.menu__item {
  display: flex;
  gap: 1.3em;
}

.navBar__button {
  color: #fff;
  border: 1px solid;
  width: 100%;
  font-weight: 600;
  text-align: center;
  padding: 0.5rem;
  max-width: 273px;
}
