.listItem-item {
	position: relative;
	padding-left: 45px;

	margin: 30px 0 0 0;
	list-style-type: none;

	&::marker {
		position: absolute;
		z-index: 3;
		// left: -40px;
	}

	&.active {
		.item__marker::before {
			background: #2f53ff;
			border: none;
		}

		.item__value {
			color: #fff;
		}
	}

	.item__value {
		position: absolute;
		left: 11px;
		top: 7px;
		z-index: 3;

		font-size: 12px;
		font-weight: 800;

		color: #637592;
	}

	.item__marker {
		display: block;
		font-size: 12px;
		line-height: 140%;
		&::before {
			content: "";
			position: absolute;
			left: 0px;

			border-radius: 50%;
			border: 2px solid #637592;
			width: 28px;
			height: 28px;

			background: #171a1e;
			z-index: 2;
			display: flex;
			justify-content: center;
			align-items: center;

		}
		
	}

	&:not(&:last-child) .item__marker:after {
		content: "";
		position: absolute;
		left: 13px;
		top: 10px;
		width: 2px;
		height: 200%;
		border-left: 2px solid #637592;
	}
}


