.user {
  display: flex;
  align-items: center;
  gap: 30px;

  & > img {
    @media (max-width: 400px) {
      display: none;
    }
  }

  &__name {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 85.5%;
    /* or 21px */


    color: #FFFFFF;
  }

  &__contribution {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 85.5%;
    /* identical to box height, or 21px */


    color: #FFFFFF;

    >span {
      margin-left: 4px;
    }

    >p {
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 85.5%;
      /* identical to box height, or 21px */


      color: #FFFFFF;
    }
  }

  &__date {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    /* identical to box height, or 20px */

    text-align: right;

    color: #FFFFFF;
  }
}
