.listItem {
    background: #171A1E;
    border-radius: 17px;
    overflow: hidden;
    padding: 23px 20px;
}

.listItem__imgbox {
    display: flex;
    width: 100%;
    margin-bottom: 18px;
    min-height: 180px;

    img {
        border-radius: 10px;
        overflow: hidden;
        width: 100%;
        max-height: 180px;
        margin-right: 14px;

        &:last-child {
            margin-right: 0px;
        }
    }
}

.lsitItem__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .listItem__title {
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 120%;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-right: 15px;
    }

    .listItem__date {
        font-weight: 300;
        font-size: 0.625rem;
        line-height: 120%;
        text-align: right;
        color: rgba(255, 255, 255, 0.4);
    }
}

.listItem__text {
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.7);
}