.income_chart {
  background: #171A1E;
  border-radius: 17px;
  padding: 25px 28px 12px 28px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  &__body {
    height: 100%;
  }

  &__currencyPick {
    display: flex;
    gap: 9px;
    align-items: center;
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 18px;
    gap: 22px;
    flex-grow: 1;

    .header__container {
      display: flex;
      gap: 40px;
    }
  }

  &__subheader {
    padding-top: 36px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.07);
  }

  &__total {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;

    color: #F2AE14;
  }

  &__currency {
    display: flex;
    gap: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 105%;

    color: #FFFFFF;

    & > span {
      display: block;
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 105%;
    /* identical to box height, or 23px */


    color: #FFFFFF;
  }

  .filter {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: #CACACA;


    .arrow {
      cursor: pointer;

      &_visible {
        transform: rotate(180deg);
      }
    }

    &__current {
      display: flex;
      justify-content: space-between;
      transition: all 0.3s ease-in;
      width: 100px;
      padding: 5px;
      text-align: center;

      ~ span {
        white-space: nowrap;
      }
    }

    &__dropdown {
      z-index: 10;
      margin-top: 10px;
      background: #171A1E;
      border-radius: 17px;
      padding: 5px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: transform 0.1s ease-in-out, opacity 0.3s ease-in-out;
      transform: translateY(20px);

      &_visible {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-100px);
      }
    }

    &__item {
      white-space: nowrap;
      cursor: pointer;
      padding-bottom: 5px;
    }
  }
}

/* Customize the label (the container) */
.currencyPick {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 22px;
  cursor: pointer;
  user-select: none;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  color: #CACACA;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkmark {
      background-color: transparent;
    }

    &:checked ~ .checkmark:after {
      display: block;
    }
  }

  &:hover input ~ .checkmark {
    background-color: transparent;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: transparent;
    border: 1.5px solid #00FFA3;
    border-radius: 5px;
    text-align: center;

    &:after {
      content: url(@assets/cabinet/check_green.svg);
      position: absolute;
      display: none;
      width: 100%;
    }

    &_roto {
      border: 1px solid #2F53FF;

      &:after {
        content: url(@assets/cabinet/check_blue.svg);
      }
    }
  }
}
