.modalGroup {

  border-radius: 8px;

  @media screen and (max-width:500px) {
    width: 300px;
  }
  

  @media screen and (max-width:400px) {
    width: 260px;
  }



  .header {
    display: flex;
    align-items: flex-start;
    gap: 16px;

    @media screen and (max-width:400px) {
      gap: 0px;
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    &__avatarGroup {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 10px;

      @media screen and (max-width:400px) {
        min-width: 35px;
        min-height: 35px;
      }
    }

    &__invite {
      img {
        margin-right: 10px;
        
        &:hover {
          cursor: pointer;
        }
        
        @media screen and (max-width:400px) {
          min-width: 15px;
          min-height: 15px;
          margin-right: 0px;
        }
      }
    }

    &__subscribers {
      font-size: 16px;
      margin-bottom: 10px;
      text-align: center;
    }


    &__name--group {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 100%;

      font-size: 18px;
      margin-bottom: 5px;
    }

    &__description {}
  }

  .subscribers {


    ul {
      list-style-type: none;
      padding: 0;

      max-height: 200px;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.07);
        border-radius: 100px;
      }

      &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.4);
        border-radius: 100px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }

    li {
      align-items: center;
    }


    &__count {
      text-align: center;
      padding: 20px;
    }

    &__avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 10px;
    }

    &__member {
      display: flex;
      font-size: 16px;
      margin-bottom: 7px;

      &:hover {
        background-color: rgba(88, 124, 253, 0.2);
        border-radius: 5px;
        max-width: 95%;
      }
    }
  }

  &__button {
    text-align: center;
    margin-top: 20px;

    .modalGroup__leave {
      background-color: rgba(76, 114, 248, 0.2);
      color: #fff;

      border: none;
      padding: 10px 20px;
      font-size: 14px;
      border-radius: 4px;
      cursor: pointer;
      margin-left: 20px;

      &:hover {
        background-color: rgba(110, 140, 250, 0.2);
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    text-align: center;
  }

  &__agreement {
    background-color: rgba(111, 108, 103, 0.2);
    color: #fff;


    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20px;

    &:hover {
      background-color: rgba(167, 161, 152, 0.2);
    }
  }
}