@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.chat__messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  background-color: #141923;
  padding: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.07);
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.chat__spinner {
  animation: spin 1s linear infinite;
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.chat__loader {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  background-color: #141923;
  padding: 15px;
}