.main-top {
	// display: grid;
	// grid-template-areas:
	// 	"royalAction . howItWorks"
	// 	"mission mission howItWorks"
	// 	"stats . howItWorks";
	display: flex;
	flex-wrap: wrap;
	color: #ffffff;

	.top__column1 {
		flex: 1 1 60%;
	}
	.top__column2 {
		flex: 1 1 auto;
	}
}
