.sidebar {
  width: 220px;
  padding: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #171e2c;
  color: #fff;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__menu {
    color: #222b3d;


    .group__rotate {
      transition: transform 0.3s ease-in-out;
    }
  }
}

@media (max-width: 768px) {
  .chat {
    overflow: hidden;
    .sidebar {
      position: absolute;
      height: 100%;
      left: -220px;
      transition: 250ms all ease;
      z-index: 9;
      &.active {
        left: 0;
      }
    }
  }
}