.auctionList {
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, 1fr);
  gap: 23px 16px;

  @media screen and (max-width:800px) {
    grid-template: repeat(2, auto) / repeat(2, 1fr);
  }

  @media screen and (max-width:500px) {
    grid-template: repeat(2, auto) / repeat(1, 1fr);
  }

}