$primary-color: #38414f;
$secondary-color: #ee0b0b;
$background-color: #636363;
$font-color: #333;

.chat {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 80vh;
  padding: 15px;

  &__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
  }

  &__menu {
    background-color: rgb(63, 67, 117);

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &__sidebar {
    width: 200px;
    background-color: $primary-color;
    color: #fff;
    padding: 20px;

    h2 {
      margin-bottom: 10px;
    }

    &__group {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .sidebar {

      &__list {
        padding: 5px 0;
        cursor: pointer;

        &:hover {
          background-color: darken($primary-color, 10%);
          border-radius: 5px;
          padding: 5%;
        }
      }
    }
  }

  &__header {
    background-color: $primary-color;
    border-top-right-radius: 5px;
    color: #fff;
    padding: 20px;

    h2 {
      margin: 0;
    }
  }

  &__messages {
    flex: 1;
    background-color: $background-color;
    padding: 20px;
    overflow-y: auto;

    .message {
      margin-bottom: 10px;

      &__your {
        .your {
          &__content {
            background-color: #8d8080;
            max-width: fit-content;
            padding: 10px;
            border-radius: 10px;
            color: #fff;
            margin-left: auto;
          }
        }
      }

      &__answer {
        .answer {
          &__sender {
            font-weight: bold;
            margin-bottom: 5px;
            color: #352b2b;
          }

          &__content {
            background-color: #8d8080;
            max-width: fit-content;
            padding: 10px;
            border-radius: 10px;
            color: #fff;
          }
        }
      }
    }
  }

  &__time {
    margin-top: 2%;
    text-align: end;
    font-size: 10px;
  }

  &__footer {
    display: flex;
    background-color: #171c25;
    align-items: center;
    padding: 10px;
    border-bottom-right-radius: 5px;

    input[type="text"] {
      flex: 1;
      padding: 5px;
      color: #fff;
    }
  }

  .chat__footer {
    display: flex;
    flex-direction: row;
  }

  &__send {
    padding: 5px 10px;
    cursor: pointer;
  }
}

.overlayGroup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  //opacity: 0.5;
  z-index: 1000;
  display: block;

  &__hidden {
    display: none;
  }
}

.modalGroup {
  width: 35%;
  height: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  position: fixed;
  top: calc(70% - 305px);
  left: calc(70% - 25%);
  z-index: 1500;
  background: rgb(34, 34, 53);
  border-radius: 5px;
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: all .3s ease-in-out;

  &__title {
    color: #fff;
  }

  &__name {
    width: 80%;
    height: 40px;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: white;
  }

  &__hidden {
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
  }


  &__button {
    width: 35%;
    height: 45px;
    background-color: #2F53FF;
    color: white;
    border-radius: 8px;
  }
}

