$fz28: 1.75rem;
$fz18: 1.125rem;
$fz16: 1rem;
$fz15: 0.9375rem;
$fz14: 0.875rem;
$fz8: 0.5rem;

.return--btn {
    position: relative;
    width: 142px;
    height: 48px;
    background: #171A1E;
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 8px;
    font-weight: 400;
    font-size: $fz15;
    line-height: 105%;
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 23px;
    padding: 15px 22px 17px 48px;


    &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(90deg);
        left: 21px;
        display: block;
        width: 12px;
        height: 8px;
        background: url('/src/assets/imgAuctions/arrowLightGrey.svg');
    }
}

.lot {
    background: #171A1E;
    border-radius: 17px;
    display: flex;
    gap: 24px;
    padding: 25px 25px 35px 25px;

    &__imgbox {
        flex: 1 0 auto;
        max-width: 264px;
        &-body {
            border-radius: 17px;
            overflow: hidden;
            position: relative;
            width: 100%;
            background: url("../img/quare.png");
            img {
                min-width: 100%;
                height: 100%;
                object-fit: cover;
                padding: 48px 0;
            }

            .deposit {
                position: absolute;
                border-radius: 20px;
                margin: 12px;
                padding: 5px 10px 5px 36px;
                background: #2F53FF;
                color: #fff;
                top: 0;
                left: 0;

                span {
                    font-weight: 300;
                    font-size: $fz8;
                    line-height: 105%;
                }

                .price__title {
                    font-weight: 400;
                    font-size: $fz14;
                    line-height: 105%;
                }

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 6px;
                    width: 25px;
                    height: 25px;
                    border-radius: 100%;
                    background: #fff;
                }
            }
        }

    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;

    }

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        gap: 30px;

        &__col__left {
            font-weight: 400;
            font-size: $fz28;
            line-height: 105%;
            color: #FFFFFF;
            text-align: left;

            .lot__title {
                margin-bottom: 24px;
            }
        }

        &__col__right {
            font-weight: 300;
            font-size: $fz18;
            line-height: 105%;
            text-align: right;
            color: rgba(255, 255, 255, 0.4);
            white-space: nowrap;

            .lot__places {
                margin-bottom: 14px;
            }
        }
    }

    &__description {
        font-weight: 400;
        font-size: $fz14;
        line-height: 155%;
        height: 44px;
        color: #FFFFFF;
        margin-bottom: 23px;
        overflow: hidden;
        &.shown {
            height: 150px;
            overflow: auto;
        }
        &::-webkit-scrollbar-track {
            border-radius: 4px;
        }
        &::-webkit-scrollbar {
            width: 6px;
            height: 12px;
            cursor: pointer;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background: #f0f2f5;
        }
        &:hover::-webkit-scrollbar-thumb {
            background: #979797;
        }
    }

    &__more {
        display: block;
        font-weight: 300;
        font-size: $fz15;
        line-height: 100%;
        text-decoration-line: underline;
        color: rgba(255, 255, 255, 0.4);
        margin-bottom: 16px;

        span {
            position: relative;
            text-decoration: underline;

            &::after {
                content: '';
                position: absolute;
                top: 5px;
                transform: rotate(360deg);
                left: 78px;
                display: block;
                width: 12px;
                height: 8px;
                background: url('/src/assets/imgAuctions/arrowLightGrey.svg');
            }
        }
    }

    &__footer {
        margin-top: auto;
        &-btn {
            position: relative;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            padding: 12px 45px 14px 45px;
            background: #2F53FF;
            border-radius: 10px;
            span {
                margin-right: 36px;

                &:last-child {
                    margin-right: 0px;
                }
            }

            &::before {
                content: '';
                display: block;
                position: absolute;
                width: 24px;
                height: 24px;
                top: 50%;
                transform: translateY(-50%);
                right: 133px;
                background: url('/src/assets/imgAuctions/roto.svg');
            }
        }
    }

    &__auction {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #000;
        margin: 0px 13px 17px 13px;
        display: flex;
        gap: 32px;
        border-radius: 8px;
        align-items: center;
        justify-content: space-between;
        padding: 4px 16px 4px 32px;

        &__timer {
            color: #F79E1B;
            text-shadow:
                    0px 0px 825.552px #FF0000,
                    0px 0px 471.744px #FF0000,
                    0px 0px 275.184px #FF0000,
                    0px 0px 137.592px #FF0000,
                    0px 0px 39.312px #FF0000,
                    0px 0px 19.656px #FF0000;
            font-weight: 600;
            font-size: 24px;
            line-height: 152%;
            text-align: right;
        }

        &__names {
            font-weight: 300;
            font-size: 12px;
            line-height: 105%;
            color: #fff;
        }
    }
}

.page {
    &__content {
        display: flex;
        margin-bottom: 27px;
        gap: 21px;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
    }
}

.clicks__history {
    background: #171A1E;
    border-radius: 17px;
    color: #fff;
    font-weight: 400;
    font-size: $fz16;
    line-height: 105%;
    padding: 17px 15px 21px 21px;
    min-width: 270px;

    &__users {
        margin-top: 42px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: -25px;
            left: 50%;
            transform: translateX(-50%);
            height: 1px;
            width: 239px;
            background-color: rgba(255, 255, 255, 0.07);
        }

        &__item {
            margin-bottom: 16px;
            display: flex;
            justify-content: space-between;

            span {
                font-weight: 400;
                font-size: 12px;
                line-height: 105%;
            }

            .time {
                font-weight: 400;
                font-size: 10px;
                line-height: 105%;
                text-align: right;
                color: rgba(255, 255, 255, 0.4);
            }
        }
    }
}

.category {
    font-weight: 400;
    font-size: $fz15;
    line-height: 105%;
    color: rgba(255, 255, 255, 0.4);

    &__name {
        padding: 12px 40px;
        border: 1px solid rgba(255, 255, 255, 0.12);
        margin-top: 21px;
        border-radius: 8px;
        max-width: 142px;
    }
}

.autoClick {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 17px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #FFFFFF;
    width: 270px;
    height: 44px;
}


@media (max-width: 1360px) {
    .page__content {
        flex-wrap: wrap;
        .clicks__history {
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .page__content {
        .lot {
            flex-direction: column;
            align-items: center;
            &__header {
                margin: 0;
                flex-direction: column-reverse;
                &__col__left {
                    display: flex;
                    justify-content: space-between;
                    .lot__title {
                        margin: 0;
                    }
                }
                &__col__right {
                    display: flex;
                    justify-content: space-between;
                }
            }
            &__content {
                gap: 24px;
            }
            &__description{
                margin: 0;
                &.shown {
                    height: initial;
                }
            }
            &__more {
                margin: 0;
            }
        }
        .clicks__history {
            span {
                font-size: 16px;
            }
            .time {
                font-size: 16px;
            }
        }
    }
}