 .password__input {
  display: flex;
  align-items: center;
  // justify-content: center;
  position: relative;
}

.password__icon {
  position: absolute;
  right: 0.5em; 
  top: 50%;
  transform: translateY(-50%); 
}

.form__btn--group {
  display: flex;
}

