.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: fit-content;
  padding: 10px 0 35px 0;

  &__title {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 105%;
    /* identical to box height, or 34px */


    color: #FFFFFF;
  }

  .group {
    display: flex;
    align-items: center;

    &__balance {
      position: relative;
    }

    &__log {
      color: #fff;
      margin-left: 10px;

      &:hover {
        color: rgb(149, 148, 148)
      }
    }

    &__sign {
      padding: 10px;
      background-color: blue;
      border-radius: 20px;
      color: #fff;
      margin-left: 22px;

      &:hover {
        color: rgb(149, 148, 148)
      }
    }


    &__balanceSum {
      color: #fff;
      margin-left: 22px;
    }

    &__notifications {
      margin-left: 22px;
    }

    &__name {
      color: white;
      margin-left: 22px;
      width: 100px;
    }

    &__profile {
      margin-left: 9px;
    }

    &__exit {
      margin-left: 19px;
    }
  }
}