.last-users {
	background: #171a1e;
	border-radius: 17px;
	padding: 15px;

	&__title {
		text-align: center;
		font-size: 24px;
		color: #ffffff;
		margin-right: 0;
	}

	&__top {
		margin-top: 22px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.07);
		display: grid;
		grid-template-columns: 25% 37% 37%;

		&_text {
			padding: 10px;
			text-align: left;
			color: rgba(255, 255, 255, 0.4);
		}
	}
}