.income_chart {
  background: #171A1E;
  border-radius: 17px;
  padding: 25px 28px 10px 28px;

  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 18px;
    gap: 22px;
  }

  &__subheader {
    padding-top: 22px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.07);
  }

  &__total {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;

    color: #F2AE14;
  }

  &__currency {
    display: flex;
    gap: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 105%;

    color: #FFFFFF;

    > span {
      display: block;
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 105%;
    /* identical to box height, or 23px */


    color: #FFFFFF;
  }

  .filter {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: #CACACA;


    .arrow {
      cursor: pointer;

      &_visible {
        transform: rotate(180deg);
      }
    }

    &__current {
      display: flex;
      justify-content: space-between;
      transition: all 0.3s ease-in;
      width: 100px;
      padding: 5px;
      text-align: center;

      ~ span {
        white-space: nowrap;
      }
    }

    &__dropdown {
      z-index: 10;
      margin-top: 10px;
      background: #171A1E;
      border-radius: 17px;
      padding: 5px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: transform 0.1s ease-in-out, opacity 0.3s ease-in-out;
      transform: translateY(20px);

      &_visible {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-100px);
      }
    }

    &__item {
      white-space: nowrap;
      cursor: pointer;
      padding-bottom: 5px;
    }
  }
}
