.clue:before {
	content: attr(data-clue);
	position: absolute;

	font-size: 12px;

	border-radius: 3px;
	padding: 10px 14px;

	color: rgb(255, 255, 255);
	background-color: rgba(23, 26, 30, 0.9);
	box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.15);

	width: 210px;
	bottom: 100%;
	right: 0;

	visibility: hidden;
	z-index: -1;
	opacity: 0;

	cursor: default;
	transition: inherit;
}
.clue:focus {
	&:before {
		opacity: 1;
		visibility: visible;
		z-index: 10;
		bottom: calc(100% + 10px);
	}
}
