.modalNewGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;


  &__title {
    color: #fff;
    font-size: 24px;
  }

  &__name {
    width: 100%;
    height: 40px;
    flex: 1;
    border: none;
    font-size: 16px;
    margin-left: 8px;
    padding: 5px;

    outline: none;
    border-bottom: 1px solid #ccc;
  }

  &__hidden {
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
  }


  &__button {
    width: 100%;
    height: 45px;
    background-color: #2F53FF;
    color: white;
    border-radius: 8px;
  }
}