.settings {
  border-radius: 1em;
  color: #fff;
  transition: all 0.25s ease;
  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .wrapper {
      display: flex;
      flex-direction: column;
    }
    .title {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgba(255, 255, 255, 0.07);
      padding-bottom: 16px;
      margin-bottom: 8px;
      h3 {
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 105%;
        color: #FFFFFF;
      }
    }
    .body {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 16px;
      .full {
        grid-column: 1/4;
      }
    }

    input:disabled {
      background: transparent;
      border-bottom: 1px solid rgba(255, 255, 255, 0.09);
      &:hover {

        box-shadow: none;
      }
    }
  }
  .form__button {
    font-size: 15px;
    border-radius: 8px;
    background: #2F53FF;
    padding: 15px;
    width: 100%;
    transition: all .250s ease;
    &:hover {
      box-shadow: 0 4px 15px -2px rgb(47 82 255 / 74%);
    }
  }
}