.filter__cards {
  display: flex;
}

.auctions {
  &__components {
    display: flex;
    gap: 1em;
    justify-content: space-between;

    @media (max-width: 1000px) {
      justify-content: unset;
      flex-wrap: wrap-reverse;
    }
  }

  &__search--card {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
