
.search {
  width: 70%;
  padding-left: 30px;
  height: 40px;
  margin: 3px 0 40px 0;
  box-sizing: border-box;
  background: #171A1E;
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 10px;
  background-image: url('../../assets/imgAuctions/search.svg');
  background-repeat: no-repeat;
  background-position: 1% 45%;
}

@media (max-width: 1200px) { 
  .search {
  width: 55%;
  }
}

@media (max-width: 950px) { 
  .search {
  width: 45%;
  }
}

@media (max-width: 850px) { 
  .search {
  width: 35%;
  }
}

