.footer {
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  padding: 47px 0 17px 0;
  margin-top: 32px;

  .logo {
    margin-bottom: 20px;
  }

  &__menu {

    display: flex;
    flex-flow: column wrap;
    height: 110px;

  }

  &__menu-item {
    margin: 5px 10px 5px 0;
  }

  &__menu-link {
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.4);
    transition: 0.3s ease;

    &:after {
      content: ">";
      position: relative;
      font-weight: 600;
      transition: 0.3s ease;
      opacity: 0;
      margin: 0 10px 0 0;
    }

    &:hover {
      color: #2f53ff;

      &:after {
        color: #2f53ff;
        opacity: 1;
        margin: 0 0 0 10px;
      }
    }
  }

  &__copyright {
    font-size: 0.8rem;
    color: #bbbbbb;
    bottom: 30px;
    right: 0;
  }
}
